---
title: Verification
longTitle: 'Vérification'
tags:
- gccommon
french:
- "[[Audit]]"
---